@{
	ViewData["Title"] = "Index";
}

<nav class="colorlib-nav" role="navigation">
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 col-md-9">
					<div id="colorlib-logo"><a asp-area="" asp-controller="Manager" asp-action="Index">TLPShoes</a></div>
				</div>
				<div class="col-sm-5 col-md-3">
					<form action="#" class="search-wrap">
						<div class="form-group">
							<input type="search" class="form-control search" placeholder="Search">
							<button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-left menu-1">
					<ul>
						<li><a asp-area="" asp-controller="Manager" asp-action="Index">Home</a></li>
						<li><a asp-area="" asp-controller="Manager" asp-action="PriceApproval">Price Approval Management</a></li>
						<li><a asp-area="" asp-controller="Manager" asp-action="StockManagement">Stock Management</a></li>
						<li><a asp-area="" asp-controller="Manager" asp-action="DiscountLogic">Discount Logic</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a asp-area="" asp-controller="Manager" asp-action="Index">Home</a></span> / <span>Stock Management</span></p>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-product">
	<div class="container">
		<div class="row">
				<div class="col-md-3 col-lg-3 mb-4 text-center">
					<div class="product-entry border">
						<img src="~/asset/images/item-15.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
						<div class="desc">
							<h2><a href="#">item_name</a></h2>
							<span class="price">ivt</span>
							<span class="price">description</span>
							<span class="price">Category: category</span>
							<span class="price">Gender: gender</span>
							<span class="price">Price: price</span>
							<span class="price">Size: size</span>
							<span class="price">Stock: quantity</span>
						</div>
					</div>
				</div>

			<div class="col-md-3 col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<img src="~/asset/images/item-15.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					<div class="desc">
						<h2><a href="#">item_name</a></h2>
						<span class="price">ivt</span>
						<span class="price">description</span>
						<span class="price">Category: category</span>
						<span class="price">Gender: gender</span>
						<span class="price">Price: price</span>
						<span class="price">Size: size</span>
						<span class="price">Stock: quantity</span>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<img src="~/asset/images/item-15.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					<div class="desc">
						<h2><a href="#">item_name</a></h2>
						<span class="price">ivt</span>
						<span class="price">description</span>
						<span class="price">Category: category</span>
						<span class="price">Gender: gender</span>
						<span class="price">Price: price</span>
						<span class="price">Size: size</span>
						<span class="price">Stock: quantity</span>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-lg-3 mb-4 text-center">
				<div class="product-entry border">
					<img src="~/asset/images/item-15.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
					<div class="desc">
						<h2><a href="#">item_name</a></h2>
						<span class="price">ivt</span>
						<span class="price">description</span>
						<span class="price">Category: category</span>
						<span class="price">Gender: gender</span>
						<span class="price">Price: price</span>
						<span class="price">Size: size</span>
						<span class="price">Stock: quantity</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>