	@model List<Supply_Form>

	@{
		ViewData["Title"] = "Index";
	}

		<div id="page">
			<nav class="colorlib-nav" role="navigation">
				<div class="top-menu">
					<div class="container">
						<div class="row">
							<div class="col-sm-7 col-md-9">
								<div id="colorlib-logo"><a href="index.cshtml">TLP Sport</a></div>
							</div>
							<div class="col-sm-5 col-md-3">
								<form action="#" class="search-wrap">
									<div class="form-group">
										<input type="search" class="form-control search" placeholder="Search">
										<button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 text-left menu-1">
								<ul>
									<li><a asp-area="" asp-controller="Manager" asp-action="Index">HOME</a></li>
									<li><a asp-area="" asp-controller="Manager" asp-action="PriceApproval">PRICE APPROVAL MANAGEMENT</a></li>
									<li><a href="women.html">Stock Management</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>

			<div class="breadcrumbs">
				<div class="container">
					<div class="row">
						<div class="col">
							<p class="bread"><span>Home</span></p>
						</div>
					</div>
				</div>
			</div>

			<div class="card-body">
					  <h5 class="card-title">Sales <span>| Today</span></h5>

					  <div class="d-flex align-items-center">
						<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
						  <i class="bi bi-cart"></i>
						</div>
						<div class="ps-3">
						  <h6>145</h6>
						  <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

						</div>
					  </div>
					</div>
